.centerContainer {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

.outerContainer {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    outline: 1px;
}

.header {
    text-size-adjust: 3rem;
}

.content {
    text-size-adjust: 1rem;
}