<div>
    <div class="navbarContainer" *ngIf="showNavbar">
        <p>{{user.name}}</p>
        <button (click)="logout()">log out</button>
    </div>
    <div class="navbarContainer" *ngIf="showNavbar">
        <button (click)="shortRest()">Short Rest</button>
        <button (click)="longRest()">Long Rest</button>
        <button (click)="addNewSpell()">Add new Spell</button>
    </div>
</div>

<div class="toggleNavbar" (click)="toggleNavbar()">
    <span class="material-icons navbarIcon">
        reorder
    </span>
</div>